* {
  box-sizing: border-box;
}

.stickyNotes3 {
  display: flex;
  align-items: flex-start;
  width: 1200px;
  height: 900px;
  overflow: hidden;

  .background {
    position: relative;
    margin-top: -125px;
    width: 1200px;
    height: 1036px;

    .aCheckbox {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
    }

    .settings {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }

    .editIcons {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 22px;
      margin-right: 6px;
      padding: 8px 4px;

      .aIconBoldTextBolder {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
      }
    }

    .moreHorizontal {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      padding: 11px 4px;
      width: 24px;
      min-width: 24px;
      height: 24px;
      overflow: hidden;

      .vector {
        border-radius: 50%;
        width: 2px;
        height: 2px;
      }
    }

    .light2 {
      display: flex;
      position: absolute;
      top: -1px;
      left: 0;
      align-items: flex-start;
      padding: 250px 710px 136px 110px;
      width: 1200px;
      height: 1036px;
      background-image: linear-gradient(180deg, #ffffff00 0%, #ffffff05 100%),
        url(../image/mjtpl66j-2tjgsyc.png),
        linear-gradient(180deg, #ffffff00 0%, #ffffff05 100%);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .light {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        border-radius: 12px;
        box-shadow: var(--Efects, 0px 40px 60px 0px #00000033);
        background-color: #ffffff99;
        padding: 32px 28px 26px 32px;
        background-image: linear-gradient(#ffffff33, #ffffff33);
        backdrop-filter: blur(120px);

        .noteHeader {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          min-width: 272px;

          .fiveTipsToTakeCareOf {
            flex-shrink: 0;
            width: 250px;
            letter-spacing: 0;
            color: #001a78d9;
            font-family: "Neue Montreal", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .header {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          min-width: 320px;

          .stickyNotes {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: #001a78d9;
            font-family: "Neue Montreal", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 700;
          }
        }

        .back {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 24px;
          padding: 20px 24px 28px;
          background-image: url(../image/mjtpl66d-1a5kxfz.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .textNote {
            display: inline-flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            row-gap: 12px;

            .whetherYouAreANewPla {
              flex-shrink: 0;
              width: 272px;
              line-height: 16px;
              letter-spacing: 0;
              color: #001a78b2;
              font-family: "Neue Montreal", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }

        .back2 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 20px;
          padding: 20px 24px 16px;
          background-image: url(../image/mjtpl66d-c8hwfiw.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .textNote2 {
            display: inline-flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 12px;

            .list {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 8px;

              .sendWeTransfers {
                flex-shrink: 0;
                width: 248px;
                line-height: 16px;
                letter-spacing: 0;
                color: #001a78b2;
                font-family: "Neue Montreal", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
              }

              .aCheckbox2 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                padding: 1px;

                .shape {
                  border: 2px solid #001a78d9;
                  border-radius: 2px;
                  width: 13px;
                  height: 13px;
                }
              }

              .checkList {
                display: flex;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                column-gap: 8px;
              }

              .checkList2 {
                display: flex;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                column-gap: 8px;
              }

              .checkList3 {
                display: flex;
                position: relative;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                column-gap: 8px;

                .rectangle7 {
                  position: absolute;
                  top: 0;
                  left: 120px;
                  flex-shrink: 0;
                  border-radius: 2px;
                  background: #1e62f4;
                  width: 1px;
                  height: 16px;
                }
              }
            }
          }
        }

        .iconsFooter {
          display: inline-flex;
          align-items: flex-end;
          align-self: stretch;
          column-gap: 24px;
          margin-top: 26px;
          margin-right: 64px;

          .group1 {
            flex-shrink: 0;
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    .dark2 {
      display: flex;
      position: absolute;
      top: 125px;
      left: 600px;
      align-items: center;
      background-color: #000000a6;
      padding: 125px 110px;
      width: 600px;
      height: 900px;
      background-image: linear-gradient(
        164.33deg,
        #001a7899 -1.94%,
        #021a7999 -1.93%,
        #5a009299 97.77%
      );

      .dark {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        border-radius: 12px;
        box-shadow: var(--Efects, 0px 40px 60px 0px #00000033);
        background-color: #0000000d;
        padding: 32px 28px 26px 30px;
        background-image: linear-gradient(#00000040, #00000040);
        backdrop-filter: blur(120px);

        .noteHeader2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          min-width: 272px;

          .fiveTipsToTakeCareOf2 {
            flex-shrink: 0;
            width: 250px;
            letter-spacing: 0;
            color: #568cff;
            font-family: "Neue Montreal", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .header2 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-right: 2px;
          min-width: 320px;

          .stickyNotes2 {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: #568cff;
            font-family: "Neue Montreal", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 700;
          }
        }

        .back3 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 24px;
          margin-left: 2px;
          padding: 20px 24px 28px;
          background-image: url(../image/mjtpl66d-18k9qwt.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .textNote3 {
            display: inline-flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            row-gap: 12px;

            .whetherYouAreANewPla2 {
              flex-shrink: 0;
              width: 272px;
              line-height: 16px;
              letter-spacing: 0;
              color: #bbcdf3;
              font-family: "Neue Montreal", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }

        .back4 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 20px;
          margin-left: 2px;
          padding: 20px 24px 16px;
          background-image: url(../image/mjtpl66d-wi3gnck.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .textNote4 {
            display: inline-flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 12px;

            .list2 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 8px;

              .sendWeTransfers2 {
                flex-shrink: 0;
                width: 248px;
                line-height: 16px;
                letter-spacing: 0;
                color: #bbcdf3;
                font-family: "Neue Montreal", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
              }

              .aCheckbox3 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                padding: 1px;

                .shape2 {
                  border: 2px solid #568cffe5;
                  border-radius: 2px;
                  width: 13px;
                  height: 13px;
                }
              }

              .checkList4 {
                display: flex;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                column-gap: 8px;
              }

              .checkList5 {
                display: flex;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                column-gap: 8px;
              }

              .checkList6 {
                display: flex;
                position: relative;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                column-gap: 8px;

                .rectangle72 {
                  position: absolute;
                  top: 0;
                  left: 120px;
                  flex-shrink: 0;
                  border-radius: 2px;
                  background: #568cffe5;
                  width: 1px;
                  height: 16px;
                }
              }
            }
          }
        }

        .iconsFooter2 {
          display: flex;
          align-items: center;
          align-self: stretch;
          margin: 26px 64px 0px 2px;

          .group12 {
            width: 32px;
            height: 32px;
          }

          .aIconBoldScribbleLoo {
            margin-left: 80px;
            width: 32px;
            height: 32px;
          }

          .aIconBoldPalette {
            margin-left: 24px;
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}
