@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ZiXinFangMingKeBen';
  src: url('/fonts/zixin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ZiXinFangMingKeBenGuJiBan';
  src: url('/fonts/zixin-gujiban.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'OradanoMingChaoTi';
  src: url('/fonts/oradano.ttf') format('truetype');
  font-display: swap;
}

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-background text-foreground;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}
